.tabs {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-bottom: 1px solid #dee2e6;
}

.tabs .tab.active,
.tabs .tab.show  {
  color: #000;
  background-color: #efefef;
  font-weight: 600;
  /*border-color: #dee2e6 #dee2e6 #fff;*/
}

.tabs .tab {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  margin-bottom: -1px;
  display: block;
  padding: 0.5rem 1rem;
}